<div class="main flex">
    <div class="keyboard flex">
        <!-- screen -->
        <div class="screen">
            <span>>.&nbsp;{{ text }}</span>
        </div>

    <!-- key board box -->
    <div class="keyboard__front face"></div>
    <div class="keyboard__back face"></div>
    <div class="keyboard__right face"></div>
    <div class="keyboard__left face"></div>

    <!-- 變更寫法 -->
    <div class="keyboard__top face">
      <div class="keys" *ngFor="let keys of keyBoard.keys,let i = index">
        <div class="key flex key--w{{key.size}}" *ngFor="let key of keys,let j = index">
          <div class="key__front key__front--w{{key.size}}  face face--key-{{key.color}}3"></div>
          <div class="key__back key__back--w{{key.size}} face face--key-{{key.color}}1"></div>
          <div class="key__right key__right--w{{key.size}} face face--key-{{key.color}}1"></div>
          <div class="key__left key__left--w{{key.size}} face face--key-{{key.color}}2"></div>
          <div class="key__top key__top--w{{key.size}} face face--key-{{key.color}}1"></div>
          <div class="key__bottom key__bottom--w{{key.size}} face face--key-{{key.color}}2"></div>
        </div>
      </div>
    </div>
    <div class="keyboard__bottom face"></div>
  </div>
</div>
